<!-- The point of this view is to use the data the user submitted
in the previous form within our HTML to produce a personalized greeting for the user. -->

<%# Write your code here! %>
<h1>Hi <%= params[:user_name] %>, nice to meet you!</h1>
